<%= form_with(url:admin_hashtags_path ,scope: :hashtags) do |f| %>
  <% if hashtag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hashtag.errors.count, "error") %> prohibited this hashtag from being saved:</h2>

      <ul>
        <% hashtag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
