<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Report</h1>
    <p>Hi <%= @user.email %></p>
    <p>Your report is cancelled and event is approved.</p>
  </body>
</html>
